body {
  background-color: #F8B195;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}

.container {
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}
.animation {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="date"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

form input[type="submit"] {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #005f7f;
}

body {
  background-image: url('/static/123.jpg');
  background-size: cover;
  background-position: center;
}

